@model List<GroupConfiguration>
@{
  if (Model == null)
    {
        return;
    }
  ViewData["Title"] = "Hue Light DJ";
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - HueLightDJ.Web</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-dark.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-dark.css" />
  </environment>
</head>
<body style="text-align:center;padding-top:0px;padding-bottom:0px;">
  @foreach (var group in Model)
  {
    <input type="button" value="Configure @group.Name" onclick="previewConnection.invoke('GetLocations', '@group.Name')" class="btn btn-dark" />
  }
  <input type="button" id="saveButton" value="Save" class="btn btn-danger" />

  <div id="pixiPreview"></div>
  <script src="~/lib/signalr/dist//browser/signalr.js"></script>

  <script src="~/js/pixi.min.js"></script>
  <script src="~/js/pixi-layers.js"></script>
  <script src="~/js/preview.js"></script>
  <script>
    var size = Math.min(document.documentElement.clientHeight, document.documentElement.clientWidth) - 6;

    renderPreviewGrid(size, true);
  </script>
</body>
</html>
