@{
  ViewData["Title"] = "Hue Light DJ";
}

<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
      <input type="button" id="connectButton" value="Connect" />
      <input type="button" id="disconnectButton" value="Disconnect" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
      <ul id="messagesList"></ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6" id="effects">
      BPM: <button id="bpmMinMinButton">--</button> <button id="bpmMinButton">-</button> <p id="bpm"></p> <button id="bpmPlusButton">+</button> <button id="bpmPlusPlusButton">++</button>

      <h3>Long Running</h3>
      <ul id="baseEffects">
        <li v-for="item in baseEffects">
          {{ item.name }}
          <span v-show="item.hasColorPicker">
            <input type="checkbox" v-model="item.isRandom" />
            <input type="color" v-model="item.color" v-show="!item.isRandom" />
          </span>
          <button v-on:click="start(item)">Start</button>
        </li>
      </ul>

      <h3>Short Effects</h3>
      <ul id="shortEffects">
        <li v-for="item in shortEffects">
          {{ item.name }}
          <span v-show="item.hasColorPicker">
            color (random): <input type="checkbox" v-model="item.isRandom" />
            <input type="color" v-model="item.color" v-show="!item.isRandom" />
          </span>
          <button v-on:click="start(item)">Start</button>
        </li>
      </ul>

      <h3>Groups</h3>
      <ul id="groups">
        <li v-for="item in groups">
          {{ item.name }}
          <input type="radio" class="radio-button" :value="item.name" :name="item.name" v-model="groupPicked">
        </li>
      </ul>

      <h3>Group Effects</h3>
      <ul id="groupEffects">
        <li v-for="item in groupEffects">
          {{ item.name }}
          <span v-show="item.hasColorPicker">
            color (random): <input type="checkbox" v-model="item.isRandom" />
            <input type="color" v-model="item.color" v-show="!item.isRandom" />
          </span>
          <button v-on:click="startGroup(groupPicked, item)">Start</button>
        </li>
      </ul>

    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/effectList.js"></script>
<script src="~/js/status.js"></script>
