@model IEnumerable<Q42.HueApi.Models.Bridge.LocatedBridge>
@{
    ViewData["Title"] = "Setup";
}

<h2>Setup</h2>

<p>
  Bridge IPs found:
  <ul>
    @foreach(var ip in Model)
    {
      <li>@ip.IpAddress</li>
    }
  </ul>

  <h2>Get Key and EntertainmentKey</h2>

  <form asp-action="Register" method="post">
   IP Address: <input type="text" name="ip" value="@Model.FirstOrDefault()?.IpAddress" />
    <input type="submit" value="Press the button on the Hue Bridge and then press this button" />
  </form>
</p>
