@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="1">
        @*<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />*@
        <MudText Typo="Typo.h5" Class="ml-3"><a href="/">HueLightDJ</a></MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
   @* <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>*@
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body

            <br />
            <br />
            <br />
            <br />
            <hr />
            <footer>
                <p>&copy; 2018 - @DateTimeOffset.UtcNow.Year | Created by Michiel Post | GitHub: <a href="https://github.com/michielpost/HueLightDJ" target="_blank">HueLightDJ</a></p>
            </footer>
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
