<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HueLightDJ.Web</title>

    <environment include="Development">
      <link rel="stylesheet" href="~/css/site.css" />
      <link rel="stylesheet" href="~/css/bootstrap-dark.css" />
    </environment>
    <environment exclude="Development">
      <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/css/bootstrap-dark.css" />
    </environment>
</head>
<body>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2018 - HueLightDJ.Web</p>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
