.json-node {
  font-family: monospace;
  font-size: 13px;
  line-height: 1.3;
}

.json-content ul,
.json-content ol {
  list-style: none; /* hide numbers */
  margin: 0;
  padding-left: 12px; /* small compact indent */
}

.json-content li {
  margin: 0;
  padding: 0;
}
