@page "/"

<PageTitle>Hue Entertainment Pro</PageTitle>

<h1>Setup</h1>

Combine entertainment area's from multiple bridges into one entertainment area.
Display effects and visualize your room in 3d.
