@page "/"

<PageTitle>Hue Entertainment Pro</PageTitle>

<h1>Setup</h1>

Combine entertainment area's from multiple bridges into one entertainment area.
Display effects and visualize your room in 3d.

<h2>1) Start by adding some bridges.</h2>
Use the "Add Bridge" button below to add your Hue Bridges. You can add multiple bridges.

<h2>2) Combine multiple entertainment area's into one</h2>
Don't worry, you can also start with 1 bridge and 1 area.
