name: Build .NET

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Publish Website
      run: dotnet publish HueLightDJ.Web -o publish/HueLightDJ.Web -c Release